<!-- Header -->
    <header id="header" class="header">
		<div class="logo">
			<a class="animate" href="/"><img src="/assets/images/logo.png" alt="Veritas Agora" /></a>
			<img class="logo-text" src="/assets/images/logo-text.png" />
		</div>
		</div>
		<a href="#" id="open-close" class="browse-link">
			<span class="icon-tag"></span>
			<span class="icon-close"></span>
			<div class="cta">Browse Categories</div>
		</a>
		<nav class="nav">
			<ul>
				<li class="divider">
					<a href="#" id="trigger-info-modal" class="trigger-info-modal">
						<span class="top">About</span>
						<span class="bottom">Agora</span>
					</a>
				</li>
				<li><a href="#" onclick="showSearch();" id="show-search"><span id="icon-search" class="icon-search"></span></a></li>
			</ul>
		</nav>
	</header>
