<!-- Header -->
    <header id="header" class="header">
		<div class="logo">
			<a href="/"><img src="/assets/images/logo.png" width="72" height="90" alt="Veritas Agora" /></a>
		</div>
		<a href="#" id="open-close" class="browse-link">
			<span class="icon-tag"></span>
			<span class="icon-close"></span>
			<div class="cta">Browse Categories</div>
		</a>
		<nav class="nav">
			<ul>
				<li><a href="#" onclick="showSearch();" id="show-search"><span id="icon-search" class="icon-search"></span></a></li>
				<li><a href="#" id="trigger-info-modal"><span class="icon-info"></span></a></li>
			</ul>
		</nav>
	</header>
