<!-- Info Modal -->
    <section class="info-modal info-modal-scale">
		<div class="info-modal-content">
			<a class="info-modal-close"><span class="icon-close"></span></a>
			<h2>Veritas Agora: A Marketplace of Ideas</h2>
			<p>Dear Readers,</p>
			<p>Have you ever had an idea but nobody to share it with? In a world full of vibrant, fascinating people, it can be difficult to find others who share our unique interests, talents, and classical background. However, it is often our differences that bring us together, and this curiosity is one thing we all have in common.</p>
			<p>Veritas Agora is designed to build a diverse community of enthusiastic readers and passionate writers of all talents, cultures, and ages who share this love for ideas. You’re sure to find subjects that already interest you, but don’t be surprised if your attention is captured by a few new thoughts as well. We’re glad to have you, and we can’t wait to <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8NdNjysTQwEDnJdd4Q2CSbtALlg7cetoYo8pLOYUeHh7VFg/viewform" target="_blank">hear what you have to say</a>.</p>
			<p>In Him,<br><strong>Thayer Luscian</strong><br><em>Editor-in-Chief</em></p>
		</div>
	</section>